.container
    //- h2 About
    //-   p.lead The North-West Dashboard is a data visualization tool that helps all users to understand the analytics that matter in Donegal, Derry City & Strabane. 
    //-     |It allows users to track multiple data sources in one central location making it easier to monitor, analyse and compare the performance of each region.
    //-   p#help_text.lead Click on the map to see info about the two regions or scroll down to see the datasets. 
    #about-map-container
      svg#about-map
