extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/tabs.css")
  link(rel="stylesheet", href="/stylesheets/dc-chart.css")
  //for dc addons
  link(rel="stylesheet" href="lib/dc-tooltip-mixin.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.12/dc.css")

block navigation

block content
  section.hero
    .bg-img(style='background-image:url("images/dds.jpg")')
      .content-wrapper.content-wrapper--grad-overlay
        .container
          .row
            .col-sm-12.mb-3
              h2.text-center.hero__title NORTH-WEST DASHBOARD
              p.text-center.lead Tracking progress and performance across Donegal County Council (DCC) and Derry City & Strabane District Council (DCSDC).
          include component/carousel-charts.pug
          //- include component/searchbar.pug
          //include component/icon-nav.pug
          //- include component/toggle-button.pug

  section.map
    .content-wrapper.content-wrapper--blue
      .container
        include component/lp-map.pug

  section.themes
    .content-wrapper.content-wrapper--blue
      .container
        include themes/themes.pug

  //- include component/scroll-to-top

block append scripts
  script(src="https://cdn.plot.ly/plotly-latest.min.js" type="text/javascript")
  script(src="lib/crossfilter.js" type="text/javascript")
  script(src="lib/d3v5/d3.js" type="text/javascript")
  //script(src='lib/d3-tip-master/index.js' type="text/javascript")
  script(src="lib/dc.js" type="text/javascript") 
  script(src="lib/dc-paired-row-chart.js" type="text/javascript")
  script(src="lib/dc-tooltip-mixin.js" type="text/javascript")
  script(src='javascripts/derry_donegal.js')
  script(src='javascripts/map.js')
  //script(src='javascripts/data_glance.js')
  
  script(src='javascripts/themes/tourism/tourism.js')
  script(src='javascripts/themes/economy/employment_sectors.js')

  script(src='javascripts/themes/education/higher_ed_enrollments_field.js')
  script(src='javascripts/themes/education/higher_ed_enrollment.js')
  script(src='javascripts/themes/education/etb_awards_donegal.js')
  script(src='javascripts/themes/economy/donegal_business_demography.js')
  
  script(src="lib/plotly_common.js" type="text/javascript")
  script(src='javascripts/themes/housing/house_prices_plotly.js')
  script(src='javascripts/themes/demographics/population_projections_plotly.js')
  script(src='javascripts/themes/demographics/population_bands_plotly.js')
  script(src='javascripts/themes/education/school_enrollments_plotly.js')
  script(src='javascripts/themes/economy/employment_rates_plotly.js')
  script(src='javascripts/themes/education/educational_attainment_plotly.js') 
  
  
  
