block content
  #themes
    .container
      #themes-grid
        //- Population
        .theme-section
          #population.chart-header
            h1 
              i.fas.fa-users.fa-1x
              |  Population
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit 
          #pop-projection-chart.chart-regular
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit 
          #pop-bands-chart.chart-regular

          //- Economy
        .theme-section
          #economy.chart-header
            h1
              i.fas.fa-chart-line.fa-1x
              |  Economy
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit     
          #employment-rates-chart.chart-regular
          #employment-sectors-chart.chart-big
          #donegal-business-chart.chart-big
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit 
          #tourism-chart.chart-regular

            //- //- Housing
        .theme-section
          #housing.chart-header
            h1
              i.fas.fa-city.fa-1x 
              |  Housing
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit
          #houses-rpi-chart.chart-regular
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit
          #houses-hpi-chart.chart-regular
            //- 
            //- //- Education  
        .theme-section
          #education.chart-header
            h1 
              i.fas.fa-user-graduate.fa-1x
              |  Education   
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit
          #education-attainment-chart.chart-regular
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit 
          #enrollments-school-chart.chart-regular
          #enrollments-higher-ed-chart.chart-wide
          #enrollments-lit-chart.chart-small
          #enrollments-uu-chart.chart-small
          .chart-text
            p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
              |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
              |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
              |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit
          #donegal-etb-awards-chart.chart-regular

            //- //- Maps
            //- #maps.chart-header
            //-   h1
            //-     i.fas.fa-map.fa-1x 
            //-     |  Donegal Culture Map
            //- #culture-map.chart-big
