block content
  .container-grid
    #population.chart-header
      h1 Population
    .chart-text
      p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
       |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
       |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
       |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit 
    #pop-projection-chart.chart-regular
    .chart-text
      p Magna probant voluptate id an tempor constias mentitum, sed e coniunctione, 
       |commodo sempiternum non cupidatat qui incurreret illustriora do vidisse eu amet 
       |appellat ex philosophari, et velit eram quid singulis, ad minim tempor veniam 
       |expetendis. Et iis dolor occaecat. Eram laboris et quamquam. Quae reprehenderit 
      
    #pop-bands-chart.chart-regular
    #economy.chart-header
      h1 Economy
    #tourism-chart.chart-regular
    #employment-rates-chart.chart-regular
    #employment-sectors-chart.chart-horizontal
    #donegal-business-chart.chart-big
    #housing.chart-header
      h1 Housing
    #houses-rpi-chart.chart-regular
    #houses-hpi-chart.chart-regular
      
    #education.chart-header
      h1 Education
    #education-attainment-chart.chart-regular
    #enrollments-school-chart.chart-regular
    #enrollments-higher-ed-chart.chart-regular
    #enrollments-lit-chart.chart-regular
    #enrollments-uu-chart.chart-regular
    #donegal-etb-awards-chart.chart-regular
    #maps.chart-header
      h1 Donegal Culture Map
    #culture-map.chart-horizontal
        
    
