//- need to update with mixins for uls similar to the side menu using the same subc-menu component
footer.footer
  .footer-widgets.content-wrapper--blackblue.py-5
    .container
      .row
        .col-md-12
        .col-md-8.footer-nav
          .row
            .col-sm-3.col-6
              a(href="")
                h6 Home
              ul.list-unstyled.small
                li
                  a.footer-link(href="#about") About
                        
            .col-sm-3.col-6
              a(href="/themes")
                h6 Themes
              ul.list-unstyled.small
                li
                  a.footer-link(href="#population") Population
                li
                  a.footer-link(href="#economy") Economy
                li
                  a.footer-link(href="#housing") Housing 
                li
                  a.footer-link(href="#education") Education
                li
                  a.footer-link(href="#maps") Maps
                
            .col-sm-3.col-6
              a(href="/tools")
                h6 Tools
              ul.list-unstyled.small
                li
                  a.footer-link(href="") Coming Soon
            
        .col-lg-4.mt-3.px-4
          h6 
            a(href="https://dashboards.maynoothuniversity.ie/") Building City Dashboards
          .small Iontas Building
          .small Maynooth University
          .small Maynooth
          .small Co.Kildare
          .small Ireland
          hr
          .small T: +00 353 (1) 708 6146
          .small E: dashboards@mu.ie
        //- h6 Get Building City Dashboards news
          //- .sign-up.input-group.mb-2
          //-   input(class="form-control border-300 bg-light" type="email" placeholder="Email")
          //-   .input-group-append
          //-      button(class="input-group-text btn px-4 font-weight-bold" id="subscribe-bt" type="submit") Sign up
          //- input(type="checkbox")    
          //- small   I agree to the 
          //-   a(href="#")   Building City Dashboards Privacy Policy
          //-   |   and the processing and use of my information
            
      h6 Project Partners
      .row.partners.mt-3
        .partner.ncg
          a(href="https://www.maynoothuniversity.ie/national-centre-geocomputation-ncg" target="_blank")
            img(src="../images/partners/NCG_logo.png")
        .partner.mu
          a(href="https://www.maynoothuniversity.ie/" target="_blank")
            img(src="../images/partners/mulogo.png")
        .partner.sfi
          a(href="http://www.sfi.ie/" target="_blank")
            img(src="../images/partners/sfi.png")
        .partner.dcc
          a(href="http://www.dublincity.ie/" target="_blank")
            img(src="../images/partners/dcsdc.png")
        .partner.dlrcc
          a(href="https://www.dlrcoco.ie/" target="_blank")
            img(src="../images/partners/donegalcc.png")
        .partner.osi
          a(href="https://www.osi.ie/" target="_blank")
            img(src="../images/partners/OSi_logo.png")
        .partner.cso
          a(href="http://www.cso.ie/en/index.html" target="_blank")
            img(src="../images/partners/cso_logo2.png")

            
      .row.partners.mt-3
        .col-md-12
          h6 Accreditation
          p We gratefully acknowledge funding from Science Foundation Ireland under the Investigators' Award Programme. Award Number <strong> 15/IA/3090 </strong> 
          .credit
            <div>Selected icons made by 
                 |<a href="http://www.freepik.com" title="Freepik">Freepik</a> 
                 |from <a href="https://www.flaticon.com/" title="Flaticon">
                 |www.flaticon.com</a> licensed by 
                 |<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                 |CC BY 3.0</a></div>


      .row.copyright.py-2
        .col-sm-8
          .small © Maynooth University. All rights reserved. 
        .col-sm-4
