.row
  // Dynamic Content goes here
  .col-12
    h2.about__header About the North-West
  #dublin-text.col-md-7.my-3.py-3
    .columns-2
      p#region__open Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      p There are two local authorities whose remit collectively encompasses the geographic area of the North-West of Ireland, Donegal County Council and Derry/Strabane.  
      p#help_text Click on the map to see info about each of the local authorities. 

    #lp-tabs.py-3.d-lg-none.d-md-block  
    .lp-map__compare.py-5
      h3 
        span#local__title   Dublin

      .columns-2
        p
          span#local__open Dublin is the capital and largest city in Ireland. It is located in the province of Leinster. 
          |It covers a total area of 
          span#local__area xxx.xx km2.
          span#local__title__small Dublin 
          | has a total population of 
          span#local__total-poualtion x,xxx,xxx 
          |people with a median age of 
          span#local__age xx.x 
          |and a median household income of 
          span#local__income €xx.xx.
        p In 2016 the population of 
          span#local__title__small Dublin
          span#local__populationIndicator declined/increased 
          |from 
          span#local__prePopulation xxxxxx 
          |to 
          span#local__curPopulation xxxxxx 
          |, a 
          span#local__populationChange x.xx% decrease/increase 
          |  and its median household income 
          span#local__incomeIndicator grew/shrunk 
          |from 
          span#local__income__prev €xx.xx 
          |to 
          span#local__income €xx.xx
          |, a 
          span#local__income__change x.xx% decrease/increase
          |.

  // map holder
  .py-3.col-md-5.d-md-none.d-lg-block
    svg#map__container 

  
