- var sideLinks = { "HOME": "", "THEMES": "themes", "TOOLS": "tools", "ABOUT": "#about"  }
- var subLinks = { "Population": "#population", "Economy": "#economy", "Housing": "#housing", "Education": "#education", "Maps": "#maps" }

mixin dropdown-item(name, link, parent)
    a.dropdown-item(href="/"+link)= name

//- ul
//-     each val, key in subLinks
//-         +dropdown-item(key, val)
