/* Root Variables */
:root {

--nw-bg:  #aae0fa ;
--nw-theme-odd: #278fb7;
--nw-theme-even: #00A94F;
--nw-chart: grey;

/* http://colormind.io/template/paper-dashboard/ */
  --ct-blue: #dcad55 ;
  --ct-azure: #8495a1 ;
  --ct-green: #77ae52 ;
  --ct-orange: #f59e1a ;
  --ct-red: #f44336 ;
  --ct-heading-text: #9f9f9f;
  --ct-text-primary: #dcad55; /*orange*/
  /* --ct-main-background: #d8d8d8; */
  --ct-main-background: #d0d0d0;

  --dcc-red: #E31B23;
  --dcc-tan: #CBB677;
  --dcc-yellow: #FFEF00;
  --dcc-green: #00A94F;
  --dcsdc-light-blue: #278fb7;
  --dark-grey: #313131;
  --white: #ffffff;
  --light-blue: #aae0fa;
  --teal: #00929e;
  --yellow: #ffc20e;
  --vivid-cyan: #16c1f3;
  --vivid-red: #da1e4d;
  --strong-blue: #086fb8;
  --stronger-blue: #012e5f;
  --dark-blue:#003d68;
  --very-dark-blue:#001f35;
  --black-blue:#021420;
  --brown: #8c3529;
  --soft-blue: #6f9ceb;
  --grayish-blue: #6d7c8f;
  --very-light-grey: #f8f8f8;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Base Styles */
html {
  font-family: sans-serif;
  /* fallback */
  font-size: 20px;
  line-height: 1.618;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* color: #f8f8f8; */
  /* color: var(--dark-grey); */
  background: var(--nw-bg);
  position: relative;
  font-family: 'PT Sans', sans-serif;
}

/* text */
h1, h2, h3, a, p {
  color: #000;
  text-decoration:none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

a:hover {
  color: var(--vivid-cyan);
  text-decoration: none;
}

nav .sidemenu {
  padding: 0px;
  margin: 0px;
}

/************
Mobile First
************/

/* iPhone 6,7,8 */

h1{
   font-size: 8vw;
   /* padding: 0vw 10vw; */
   font-weight: 100;
   line-height: 1.618;
   color: #000;
 }

h2, p, a {
  font-size: 3.5vw;
  font-weight: 100;
  padding: 0vw;
  line-height: 1.618;
  color: #000;
}

/*Showcase*/
#showcase {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    position: relative;
    background: -webkit-linear-gradient(top, rgba(49,49,49,1) 0%, rgba(49,49,49,0.7) 75%, rgba(49,49,49,1.0) 100%),
                url('../images/dds.jpg') no-repeat center/cover;

    overflow-y: hidden;
    text-align: center;
    text-shadow: 0 2px 12px black;
    color: #fff;
}

.container{
  width:100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#showcase-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 1vw;
  justify-content:center;
  align-items: top;
}

#showcase h1 {
  color: #fff;
  font-size: 8vw;
  padding: 0vw 10vw;
}

#showcase p {
  color: #fff;
  font-size: 3.5vw;
  font-weight: 100;
  padding: 0vw 10vw;
}

#showcase b {
  color: #fff;
  font-weight: 600;
}

#showcase a {
  color: #fff;
  font-size: 3.5vw;
  font-weight: 100;
}

#header{
  grid-column: span 6;
  grid-row: 2 / 7;
  overflow-y: hidden;
}

/* Boxes */
#kpi-boxes{
  display: none;
}

.nav-icon{
  text-align: center;
  padding: 10px;
}

#population-icon, #economy-icon, #housing-icon{
  align-self: center;
  grid-column: span 2;
  grid-row: 7 / 9;
}

#population-icon{
  justify-self: flex-end;
}

#housing-icon{
  justify-self: flex-start;
}

#education-icon{
  grid-column: 2 / 4;
  grid-row: 9 / 11;
  justify-self: center;
}

#maps-icon{
  grid-column: 4 / 6;
  grid-row: 9 / 11;
  justify-self: center;
}

#scroll-btn{
  grid-column: span 6;
  grid-row: 11 / 13;
  align-self: center;
  /* left: 50%;
  bottom: 0px;
  margin: 50px 0px 0px -50px; */
  /* position: absolute; */

}

.side-menu__toggler {
  position: fixed;
  top: 0;
  width: 10vw;
  height: 10vw;
  background-color: rgba(0,0,0,.1);
}

#themes-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 5vw;
  /*   grid-auto-flow: dense; */
}

.theme-section{
  grid-column: 1 / span 1;
  grid-template-columns: 1fr;
  display: grid;
  /* grid-auto-rows: auto; */
  grid-gap: 5vw;
}

.theme-section:nth-child(even)
{
    background-color: #d8d8d8;
}

.theme-section:nth-child(even)
{
    background-color: var(--very-light-grey);
}

.chart-header {
  /* border: 1px solid black; */
  grid-column: span 1;
  padding: 4vw 5vw;
  margin: 0;
  text-align: center;
  }

.chart-header h1{
  margin: 0;
}

.chart-text{
  grid-column: span 1;
  padding: 0vw 5vw;
  text-align: left;
}

.chart-small, .chart-regular, .chart-big, .chart-wide  {
  /* border: 2px solid black; */
  grid-column: span 1;
  height: 80vw; /*~square chart*/
}

#culture-map{
  width: 100%;
  height: 600px;

}



/* iPhone 6,7,8 horizontal */
@media (min-width: 376px) and (max-height: 376px) {
  /* #showcase{
    width: 100vw;
    height: 100vh;

  } */
  .container{
    width:100vw;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    max-width:100vw; /*Overide bootstrap*/
  }

  #showcase-grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 2fr 1fr;
    grid-gap: 1vw;
    justify-content:center;
    align-items: center;
    margin: 0;
    padding: 0;

  }

  #showcase h1 {
    /* color: #fff; */
    font-size: 4vw;
    /* padding: 0vw 10vw; */
  }

  #showcase p, #showcase a {
    /* color: #fff; */
    font-size: 2vw;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* font-weight: 100; */
    /* padding: 0vw 10vw; */
  }

  #showcase b {
    margin: 0px;
    padding: 0px;
    /* color: #fff;
    font-weight: 600; */
  }

  #header{
    grid-column: span 5;
    grid-row: 1 / span 1;
    overflow-y: hidden;
    padding: 4vh 8vw 0vh 8vw;
  }

  /* Boxes */
  #kpi-boxes{
    display: none;
  }

  .nav-icon{

    /* text-align: center;
    padding: 0px;
    margin: 0px; */
  }

  #population-icon{
    grid-column: 1 / span 1;
    grid-row: 2 /span 1;
    align-self: center;
    justify-self: center;
  }

  #economy-icon{
    grid-column: 2 / span 1;
    grid-row: 2 /span 1;
    align-self: center;
    justify-self: center;

  }

  #housing-icon{
    grid-column: 3 / span 1;
    grid-row: 2 /span 1;
    align-self: center;
    justify-self: center;

  }

  #education-icon{
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;

  }

  #maps-icon{
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;

  }

  #scroll-btn{
grid-row: span 1;
    align-self: center;
    /* justify-self: center; */

  }


}

/********
Desktop
*********/
@media (min-width: 1200px){

  .container{
    width:80%;
    max-width: 1440px;
    margin: 1vh auto 1vh auto; /*could use this to offset for navbar*/
    overflow:hidden;
  }

  #showcase h1,
  #showcase h2,
  #showcase p,
  #showcase a {
    font-weight: 100;
    line-height: 1.618;
    color: #fff;
  }

  #showcase h1 {
   font-size: 2.5vw;
  }

  #showcase h2 {
    /* font-size: 1.5rem; */
    font-size: 1.25vw;
    /* margin-bottom: 1.25vw; */ */
  }

  #showcase p, a {
    /* font-size: 1vw;
    color: #fff; */
  }

  #showcase-grid {
      width: 100%;
      height: 100vh;
      display:grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 25vh 35vh 20vh 10vh;
      grid-gap: 0vw;
      /* justify-content:center;
      align-items: top; */

  }

  #header{
    grid-column: span 12;
    grid-template-rows: auto;
    align-self: center;
    /* grid-row: 2 / 7; */
    /* overflow-y: hidden; */
  }

  /* Boxes */
  #kpi-boxes{
    grid-column: span 12;
    /* margin-top:20px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

  }

  #kpi-boxes .box{
    grid-column: span 1;
    text-align: center;
    align-self: center;
    padding: 1vw;
    /* border: 1px solid #666; */
  }

  .nav-icon{
    text-align: center;
    align-self: center;
    justify-self: center;

  }

  #population-icon{
    grid-column: 2 / span 2;
  }

  #economy-icon{
    grid-column: 4 / span 2;
  }

  #housing-icon{
    grid-column: 6 / span 2;
  }

  #education-icon{
    grid-column: 8 / span 2;
  }

  #maps-icon{
   grid-column: 10 / span 2;
  }


  #scroll-btn{
    grid-column: span 12;
    align-self: center;
  }

  #scroll-btn a{
  font-size: 1vw;
  }

  #about {
    display: hidden;
      width: 100%;
      height: 100vh;
      padding: 0px;
      margin: 0px;
      position: relative;
      overflow-y: hidden;
      border: solid 2px;
  }

   #about-map-container {
    height: 50vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: solid 2px;

  }

  #about-map-container {
   height: auto;
   width: 100%;
  }

  #themes{
    background-color: var(--nw-bg);
  }

  #themes-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1vw;
  }

  .theme-section{
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-auto-rows: auto; */
    grid-gap: 1vw;
    padding: 0vw 0vw 1vw 0vw;
  }


  .theme-section:nth-child(odd)
  {
      background-color: var(--nw-theme-odd);
  }

  .theme-section:nth-child(even)
  {
      background-color: var(--nw-theme-even);
  }

  .theme-section:last-child
  {

  }

  .chart-header {
    /* border: 1px solid black; */
    grid-column: span 12;
    /* padding: 2vw 3vw; */
    margin: 0;
    text-align: center;
    }

  .chart-header h1{
    margin: 2vw 0vw;;
  }

  .chart-text{
    grid-column: span 4;
    margin: 1vw 1vw 0vw 1vw;
    text-align: left;
  }

  .chart-small{
    /* border: 2px solid black; */
    grid-column: span 6;
    margin: 0vw 1vw 0vw 1vw;

    /* height: 80vw; /*~square chart*/ */
  }
  .chart-regular{
    /* border: 2px solid black; */
    grid-column: span 8;
    margin: 0vw 1vw 0vw 1vw;
    /* height: 80vw; /*~square chart*/ */
  }

  .chart-big, .chart-wide  {
    /* border: 2px solid black; */
    grid-column: span 12;
    margin: 0vw 1vw 0vw 1vw;
    /* height: 80vw; /*~square chart*/ */
  }

  #culture-map{
    width: 100%;
    height: 600px;

  }
}




/* path.domain{
    display: none;
} */

/* .content-wrapper--darkblue{
    background: var(--very-dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.content-wrapper--blackblue{
    background: var(--black-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
} */
/*
.about__header{
    font-size:2rem;
    text-transform:uppercase;
} */

/* #region__total-population, #region__total-house, #region__total-vacant{
    font-weight: 600;
}

#region__population, #region__house, #region__vacant, .map span{
    font-weight: 600;
}

#local__title{
    color:#f8f8f8;
}

#local__title__small, #local__open, #dublin-text p{
    color: #f8f8f8;

} */

/* .columns-2{
    column-count: 2;
}

.about__dublin{
    column-count: 2;
}

.local-on{
    fill: #16c1f3;
}

.lp-map__compare{
    visibility: hidden;
} */




/* charts */
/* .line-chart{
  margin-right:40px;
  width:100%
}
.line-chart:last-child{
  margin-right:0
}
.line-chart path.activity{
  stroke:#16c1f3;
  stroke-width:4;
  fill:none;
}
.line-chart .cursor{
  fill:#fff;
  stroke:#16c1f3;
  stroke-width:2
}
.line-chart .label, .no-axis{
  font-size: 14px;
  font-weight:500;
}
.line-chart .label.today{
  fill:#16c1f3;
  text-anchor:start
}
.line-chart path.reference{
  stroke:rgba(150,150,150,.3)
}
.line-chart path.today{
  opacity:1
}
.line-chart .axis line,.line-chart .axis path{
  fill:none;
  stroke:rgba(0,0,0,.1);
  stroke-width:1
}
.line-chart .y path{
  stroke:none;
  fill:none;
  stroke-width:0
}

.no-axis path{
  display: none;
}

.no-axis text{
  fill: #f8f9fabd;
}
*/

/* .horizontal-line{
  fill: none;
  shape-rendering: crispEdges;
  stroke: #6c757d;
  //-stroke: #c4cdd5;
  stroke-width: 1;
}

.y-axis .domain, .y-axis .tick line {
  display: none;
}

.x-axis path, .x-axis line{
  stroke: #c4cdd5;
}
*/
/*
.x-axis text, .y-axis text{
  //- fill: #6c757d;
  fill: #c4cdd5;
}

.area-line {
  shape-rendering: geometricPrecision;
  fill: none;
  stroke-width: 2;
}
*/

/* do we need this? */
/* .collapse:not(.show) {
  display: none;
} */

/* this is used for the stories page it's a modifier for page title sections! */
/* .bg-dark {
  background-color: var(--very-dark-blue);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}  */

/* select formating */
/* select {
  width: 100%;
  height:2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  border: .1rem solid #c4cdd5;
  border-radius: .6rem;
  line-height: 4.8rem;
  font-size: .875rem;
  color: #161d25;
  background-color: #fff;
  box-shadow: inset 0 0 0 0.2rem rgba(92,106,196,0), inset 0 0.1rem 0.2rem 0 rgba(99,115,129,.2);
  transition-property: border-color,box-shadow;
  transition-duration: .24s;
  transition-timing-function: cubic-bezier(.64,0,.35,1);
} */

/* #data-text p{
  text-align: center;
  font-size: 1.125rem;
  margin-top: 1rem;
} */

/* select:hover:not([disabled]) {
  border-color: transparent;
  box-shadow: inset 0 0 0 0.1rem #5c6ac4, inset 0 0.1rem 0.1rem 0 rgba(99,115,129,.2);
} */

/* charts styles */


/* from this https://css-tricks.com/introduction-reduced-motion-media-query/ */
/* @media screen and (prefers-reduced-motion: reduce) {
.collape {
  transition: none;
}
} */
