//- extends layout

//block navigation
  +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard", "Themes")

block content
  .container
    header.header.mt-5.pt-5
      .row
        .col-md-12
          h1= title
          p.header__lead Some description about the #{title}
            |. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    section#population
      article.header.mt-2.pt-5
        .row
          .col-md-12
            h2.header__h1 Population
        .row
          .col-md-6
            #pop-projection-chart
          .col-md-6
            #pop-bands-chart

    section#house-prices
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 House Prices
            p House prices in the Republic of Ireland (ROI) are expressed in the first chart 
              |as Residential Price Index (RPI). For Northern Ireland (NI), the figures in the second 
              |chart use the House Price Index (HPI).
        .row
          .col-md-6
            #houses-rpi-chart
          .col-md-6
            #houses-hpi-chart

    section#tourism
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Tourism
            p The chart shows the total numbers of overnight stays for DCSDC and 
              |NI, broken into the proportions of stays eminating from a variety of origins.
              |The figures are for 2016.
        .row
          .col-md-6
            #tourism-chart

    section#employment
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Employment
        .row
          .col-md-12
            #employment-sectors-chart
        .row
          .col-md-6
            #employment-rates-chart
          .col-md-6
            <div class="btn-group d-flex">  
              <button id="donegal-business-active-btn" class="btn btn-bcd-toggle btn-sm w-75 ml-1 mr-1 active" value="dublinBikes">Active Enterprise</button>
              <button id="donegal-business-persons-btn" class="btn btn-bcd-toggle btn-sm w-75 ml-1 mr-1 " value="dublinBuses">Persons Engaged</button>
              <button id="donegal-business-employees-btn" class="btn btn-bcd-toggle btn-sm w-75 ml-1 mr-1 " value="dublinCarparks">Employees</button>
              <button id="donegal-business-reset-btn" class="btn btn-sm w-75 ml-1 mr-1" value="reset">Reset</button>
            </div>
            #donegal-business-chart

    section#education
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Educational Attainment
            p Cross-border Level Classifications
            table.table-sm.table-hover.table-striped.table-bordered.table-responsive
              thead 
                tr 
                  th Northern Ireland 
                  th Ireland  
              tbody
                tr
                  td No formal education 
                  td No qualifications
                tr 
                  td Level 1 
                  td Primary
                tr 
                  td Level 2 
                  td Lower secondary/Junior Certificate
                tr
                  td Apprenticeship	
                  td Advanced Certificate/completed apprenticeship
                tr 
                  td Level 3	
                  td Upper secondary/Leaving Certificate/Technical/vocational
                tr 
                  td Level 4	
                  td Higher Certificate/Ordinary bachelor/Honours bachelor/Postgraduate/Doctorate
                tr 
                  td Other qualifications
                  td Not stated 


          .col-md-6
            .row
              #education-attainment-chart

    section#enrollments
      article.header.mt-2.pt-5
        .row
          .col-sm-12
          h2.header__h1 Enrollments in Education
        .row
          .col-md-6
            #enrollments-school-chart
          .col-md-6
            #enrollments-higher-ed-chart
        .row
          .col-md-6
            #enrollments-lit-chart
          .col-md-6
            #enrollments-uu-chart

      section#etb-awards-donegal
        article.header.mt-2.pt-5
          .row
            .col-md-4
              h2.header__h1 Donegal ETB Awards
              p The charts shows the number of awards at various accrediatation levels 
                | under the Donegal Education and Training Board (ETB) for the years 2014 to 2017.
                table.table-sm.table-hover.table-striped.table-bordered
                  thead 
                    tr 
                      th Abbreviation
                      th Level  
                  tbody
                    tr
                      td QQI  
                      td ???
                    tr 
                      td Ind 
                      td Industry Awards Level
                    tr 
                      td LC 
                      td Leaving Certificate & LCA (Level 4 equivalency)


            .col-md-8
              .row
                #etb-awards-donegal-chart
