//- extends layout

//block navigation
  +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard", "Themes")

block content
  .container
    header.header.mt-5.pt-5
      .row
        .col-md-12
          h1= title
          p.header__lead Some description about the #{title}
            |. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    section#population
      article.header.mt-2.pt-5
        .row
          .col-md-12
            h2.header__h1 Population
        .row
          .col-md-6
            #pop-projection-chart
          .col-md-6
            #pop-bands-chart

    section#house-prices
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 House Prices
            p House prices in the Republic of Ireland (ROI) are expressed in the first chart 
              |as Residential Price Index (RPI). For Northern Ireland (NI), the figures in the second 
              |chart use the House Price Index (HPI).
        .row
          .col-md-6
            #houses-rpi-chart
          .col-md-6
            #houses-hpi-chart

    section#tourism
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Tourism
            p The chart shows the total numbers of overnight stays for DCSDC and 
              |NI, broken into the proportions of stays eminating from a variety of origins.
              |The figures are for 2016.
        .row
          .col-md-6
            #tourism-chart

    section#employment
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Employment
        .row
          .col-md-6
            #employment-rates-chart
        .row
          .col-md-6
            #employment-sectors-chart
    section#donegal-business
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Donegal Business Demography
        .row
          .col-md-12
            p The charts shows the breakdown of Donegal businesses by sector for the years 2008 to 2014. 
             |You can select a particular variable from; Active Enterprise number, 
             | number of Persons Engaged or the number of Employees. 
             |The full names of each sector are provided in the table beneath the chart.
        .row
          .col-md-12
             #donegal-business-chart
        .row
          .col-md-12
            table.table-sm.table-hover.table-striped.table-bordered
              thead 
                tr 
                  th Short Name
                  th Full Name 
                  th Short Name
                  th Full Name 
              tbody
                tr 
                  td Mining 
                  td Mining and quarrying (B)
                  td Manufacturing
                  td Manufacturing (C)                   
                tr 
                  td Electricity
                  td Electricity, gas, steam and air conditioning supply (D)
                  td Water
                  td Water supply, sewerage, waste management and remediation activities (E)
                tr 
                  td Construction 
                  td Construction (F)
                  td Motor
                  td Wholesale and retail trade, repair of motor vehicles and motorcycles (G)
                tr 
                  td Transportation
                  td Transportation and storage (H)
                  td Accommodation
                  td Accommodation and food service activities (I)
                tr 
                  td Information
                  td Information and communication (J)
                  td Financial 
                  td Financial and insurance activities excluding activities of holding companies (K-642)
                tr 
                  td Real Estate
                  td Real estate activities (L)
                  td Technical
                  td Professional, scientific and technical activities (M)
                tr 
                  td Administrative 
                  td Administrative and support service activities (N)
                  td Education
                  td Education (P)
                tr 
                  td ICT
                  td ICT services (261 to 264,268,465,582,61,62,631)
                  td Business 
                  td Business economy excluding activities of holding companies (B to N,-642)
                
        

    section#education
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Educational Attainment
            p Cross-border Level Classifications
            table.table-sm.table-hover.table-striped.table-bordered.table-responsive
              thead 
                tr 
                  th Northern Ireland 
                  th Ireland  
              tbody
                tr
                  td No formal education 
                  td No qualifications
                tr 
                  td Level 1 
                  td Primary
                tr 
                  td Level 2 
                  td Lower secondary/Junior Certificate
                tr
                  td Apprenticeship	
                  td Advanced Certificate/completed apprenticeship
                tr 
                  td Level 3	
                  td Upper secondary/Leaving Certificate/Technical/vocational
                tr 
                  td Level 4	
                  td Higher Certificate/Ordinary bachelor/Honours bachelor/Postgraduate/Doctorate
                tr 
                  td Other qualifications
                  td Not stated 


          .col-md-6
            .row
              #education-attainment-chart

    section#enrollments
      article.header.mt-2.pt-5
        .row
          .col-sm-12
          h2.header__h1 Enrollments in Education
        .row
          .col-md-6
            #enrollments-school-chart
          .col-md-6
            #enrollments-higher-ed-chart
        .row
          .col-md-6
            #enrollments-lit-chart
          .col-md-6
            #enrollments-uu-chart

      section#etb-awards-donegal
        article.header.mt-2.pt-5
          .row
            .col-md-4
              h2.header__h1 Donegal ETB Awards
              p The charts shows the numbers of awards at various accrediatation levels 
                | under the Donegal Education and Training Board (ETB) for the years 2014 to 2017.
                table.table-sm.table-hover.table-striped.table-bordered
                  thead 
                    tr 
                      th Abbreviation
                      th Level  
                  tbody
                    tr 
                      td Ind 
                      td Industry Awards Level
                    tr
                      td QQI  
                      td Quality & Qualificatons Ireland                    
                    tr 
                      td LC 
                      td Leaving Certificate & LCA (Level 4 equivalency)


            .col-md-8
              #donegal-etb-awards-chart
