//- extends layout

//block navigation
  +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard", "Themes")

block content
  .container
    header.header.mt-5.pt-5
      .row
        .col-md-12
          h1= title
          p.header__lead Some description about the #{title}
            |. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    section#house-prices
      article.header.mt-2.pt-5
        .row
          .col-md-4
            h2.header__h1 House Prices
            p House prices in the ROI are expressed in the first chart 
              |as Residential Price Index (RPI). For the NI figures in the second 
              |chart, the House Price Index (HPI) is used
            //a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
          .col-md-4
            .row
              #rpi-chart
          .col-md-4
            .row
              #hpi-chart

    section#tourism
      article.header.mt-2.pt-5
        .row
          .col-md-4
            h2.header__h1 Tourism
            p The chart shows the total numbers of overnight stays for DCSDC and 
              |NI, broken into the proportions of stays eminating from a variety of origins.
              |The figures are for 2016.
            //a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
          .col-md-8
            .row
              #tourism-chart-1

    section#employment-rates
      article.header.mt-2.pt-5
        .row
          .col-md-4
            h2.header__h1 Employment Rates
            p The chart shows 
              |
              |
            //a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
          .col-md-8
            .row
              #employment-chart-1
    section#employment-sectors
      article.header.mt-2.pt-5
        .row
          .col-md-4
            h2.header__h1 Employment By Sector
            p The chart shows 
              |
              |
            //a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
          .col-md-8
            .row
              #employment-chart-2
                
    section#education
      article.header.mt-2.pt-5
        .row
          .col-md-6
            h2.header__h1 Educational Attainment
            strong.mb-5 Cross-border Level Classification
            table.table-sm.table-hover.table-striped.table-bordered.table-responsive
              thead 
                tr 
                  th Northern Ireland 
                  th Ireland  
              tbody
                tr
                  td No formal education 
                  td No qualifications
                tr 
                  td Level 1 
                  td Primary
                tr 
                  td Level 2 
                  td Lower secondary/Junior Certificate
                tr
                  td Apprenticeship	
                  td Advanced Certificate/completed apprenticeship
                tr 
                  td Level 3	
                  td Upper secondary/Leaving Certificate/Technical/vocational
                tr 
                  td Level 4	
                  td Higher Certificate/Ordinary bachelor/Honours bachelor/Postgraduate/Doctorate
                tr 
                  td Other qualifications
                  td Not stated 
                
            //a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
          .col-md-6
            .row
              #education-chart-1
                
                
      section#higher-education
        article.header.mt-2.pt-5
          .row
            .col-md-4
              h2.header__h1 Higher Education
              p The charts show enrollment in higher education for University of 
                |Ulster and Letterkenny Instittue of Technology respectively.
              p The figures are broken down by subject area/ field of study.
                |
              //a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
            .col-md-4
              .row
                #education-chart-2
            .col-md-4
              .row
                #education-chart-3
                  
      section#school-enrollments
        article.header.mt-2.pt-5
          .row
            .col-md-4
              h2.header__h1 School Enrollments
              p The chart shows student enrollments in schools in the North West City region, 
               |for the years 2014-2016 inclusive.
              p The figures are broken down by education level i.e. primary or secondary school.
            
            .col-md-8
              .row
                #education-chart-5
            

    //section#transport
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Transport
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            //a(class="btn btn-bcd" href="themes/transport" role="button") View all Transport charts
          .col-md-7
            h3.header__h1 Transport Chart

    //section#environment
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Environment
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            //a(class="btn btn-bcd" href="themes/environment" role="button") View all Environment charts
            //section#economy
              article.header.mt-2.pt-5
                .row
                  .col-md-5
                    h1.header__h1 Economy
                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      |nisi ut aliquip ex ea commodo consequat.
                    //a(class="btn btn-bcd" href="themes/economy" role="button") View all Economy charts
                  .col-md-7
                    .col-md-6.pt-5
                      div(class="card o-hidden border-blue")
                        div(class="card-header" style="font-weigth: 600; background: none;") Employment Quartley % Change
                        div(class="card__body card-graph")
                          div(id="test-glance")

            //section#education
              article.header.mt-2.pt-5
                .row
                  .col-md-5
                    h1.header__h1 Education
                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      |nisi ut aliquip ex ea commodo consequat.
                    //a(class="btn btn-bcd" href="themes/education" role="button") View all education charts
                    //section#health
                      article.header.mt-2.pt-5
                        .row
                          .col-md-5
                            h1.header__h1 Health
                            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                              |nisi ut aliquip ex ea commodo consequat.
                            //a(class="btn btn-bcd" href="themes/health" role="button") View all Health charts
                            //section#demographics
                              article.header.mt-2.pt-5.pb-5.mb-5
                                .row
                                  .col-md-5
                                    h1.header__h1 Demographics
                                    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                      | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                      |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                      |nisi ut aliquip ex ea commodo consequat.
                                    //a(class="btn btn-bcd" href="themes/demographics" role="button") View all Demographics charts
                                  .col-md-7
                                    .row
                                      .col-md-6.pt-5
                                        div(class="card o-hidden border-blue")
                                          div(class="card-header" style="font-weigth: 600; background: none;") Monthly House Unit Completions
                                          div(class="card__body card-graph")
                                            div(id="pr-glance")

//append scripts
  script(src="/lib/crossfilter.js" type="text/javascript")
  script(src="/lib/d3v5/d3.js" type="text/javascript")
  script(src="/lib/dc.js" type="text/javascript")
  script(src="/lib/underscore-min.js" type="text/javascript")
  script(src="/javascripts/themes/barChart.js" type="text/javascript")
  script(src="/javascripts/themes/stackbarChart.js" type="text/javascript")
  script(src="/javascripts/themes/stackedareaChart.js" type="text/javascript")
  script(src="/javascripts/themes/multiline-chart.js" type="text/javascript")
  script(src="/javascripts/themes/themes.js" type="text/javascript")
  script(src="/javascripts/themes/trolleys.js" type="text/javascript")
